@font-face{
  font-display: swap;
  font-family: 'Montserrat';
  src: url('../fonts/MontserratRegular.woff2') format('woff2'),
       url('../fonts/MontserratRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-display: swap;
  font-family: 'Montserrat';
  src: url('../fonts/MontserratSemiBold.woff2') format('woff2'),
       url('../fonts/MontserratSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face{
  font-display: swap;
  font-family: 'Montserrat';
  src: url('../fonts/MontserratBold.woff2') format('woff2'),
       url('../fonts//MontserratBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-display: swap;
  font-family: 'Montserrat';
  src: url('../fonts/MontserratExtraBold.woff2') format('woff2'),
       url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
