
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru" class="error-page">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Files/css/style.css">
    <title>Вход</title>
</head>
<body class="error-page error-page-blok">
    <div class="error-page-container">
        <img class="error-page-icon" src="/Files/img/icon/Logo.png"/>
        <h1>404</h1>
        <h3>Страница не найдена</h3>
    </div>
</body>
</html>

