@media (max-width:1024px) {
    .burger {
        display: block;
    }
    .projects-item-image{
        max-height:165px;
    }
    .nav {
        display: none;
    }

    .footer-app {
        flex-direction: column;
    }

    .app-box {
        margin-bottom: 15px;
    }
    .projects-item {
        width: 45%;
    }
    .blog-list-item {
        flex: 0 1 33%;
    }
    .blog-details-description {
        display: block;
    }

    .blog-detail-image {
        width: 50%;
    }
}

@media (max-width:768px) {
    .container {
        padding: 0 10px;
    }

    .banner-head {
        width: 100%;
    }

    .head-button {
        margin-left: 0;
    }
    .services-list-button{
        font-size:16px;
    }


    .section-request-block {
        flex-direction: column;
    }

    .request-block {
        width: 100%;
    }

    .request-description {
        max-width: 100%;
    }

    .request-head {
        margin-left: 15px;
    }

    .request-form {
        width: 100%;
    }

    .footer-top {
        flex-direction: column;
    }

    .footer-nav, .footer-services {
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .projects-item {
        width: 90%;
    }
    .projects-item-image{
        max-height:auto;
    }
    .detail-header {
        font-size: 20px;
    }
    .blog-list-item {
        flex: 0 1 50%;
    }
    .contacts-container {
        flex-direction:column;
    }
    .contacts-blok{
        flex-direction:column;
        height:auto;
    }
    .contacts-map{
        height:300px;
    }
    .map{
        height:350px;
    }
    .form-row{
        flex-direction:column;
    }
    .check {
        padding: 15px;
        margin-left: 2.6em;
    }
    .form-btn{
        margin-top:15px;
    }
}
@media (max-width:486px) {
    .blog-list-item {
        flex: 0 1 100%;
    }
    .blog-detail-image {
        width: 100%;
    }
    .contacts-blok {
        padding:0;
    }

}
@media (max-width:320px) {
    .detail-header {
        font-size: 18px;
    }

    .detail-image {
        height: 45px;
        width: 90px;
    }
}
