@model  Storage.Models.ViewModel.FilesViewModel
@{
    ViewBag.Title = "Файлы";
}

<div class="tree-box" tabindex="1">
    @Html.Partial("_TreeList", Model)
</div>
<div class="content-box">
    <ul class="openfiles-list">
        
       
    </ul>
   
    
</div>